@import 'animations';

html, body {
  overflow: hidden;
  height: 100%;
}

html {
  font-size: 16px;
}

.background {
  transition: 1s ease-in-out all;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  transform: rotate3d(1, 1, 1, 0deg);

  &.section--clap {
    .groupTitle .count {
      color: #008774;
    }
    .background {
      background-color: #008774;
    }
  }
  &.section--countdown {
    .groupTitle .count {
      color: #008774;
    }
    .background {
      background-color: #008774;
    }
  }

  &.section--events {
    .groupTitle .count {
      color: #00AF9F;
    }
    .background {
      background-color: #00AF9F;
    }
  }

  &.section--interestings {
    .groupTitle .count {
      color: #EF5A5A;
    }
    .background {
      background-color: #EF5A5A;
    }
  }

  &.section--helps {
    .groupTitle .count {
      color: #734191;
    }
    .background {
      background-color: #734191;
    }
  }

  &.section--newFaces {
    .groupTitle .count {
      color: #286FAD;
    }
    .background {
      background-color: #286FAD;
    }
  }
}

article,
.groupTitle {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  &.itemCard {

    section {
      padding-top: 3rem;
    }

    .article-header {
      display: none;
    }
  }
}

.groupTitle {
  z-index: 4;
  pointer-events: none;

  .question {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
  }

  .count {
    font-size: 7rem;
    margin-left: 2.5rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    width: 130px;
    height: 130px;
    padding: 1.25rem;
    position:relative;

    span {
      position:relative;
      top:-0.3rem;
    }
  }

  &.animate {
    animation: titleInOut 1700ms linear both;
    -webkit-animation: titleInOut 1700ms linear both;
  }

  h1 {
    color: #fff;
  }
}

.author {
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin: 0 0 1.2rem;
  font-weight: 600;
  color: #fff;
  opacity: .7;
}

.articleGroup {
  height: 100%;
  position: absolute;
  width: 100%;
}

.itemCard {
  visibility: hidden;
  pointer-events: none;

  &.current {
    visibility: visible;
    pointer-events: initial;
    z-index: 2;
  }
}

.moveRight {
  .itemCard {
    transition: 0.6s ease-in-out all;
    transform: translateX(100%);
    opacity: 0;

    &.current {
      transform: translateX(0%);
      opacity: 1;
    }

    &.previous {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
}

.moveLeft {
  .itemCard {
    transition: 0.6s ease-in-out all;
    transform: translateX(-100%);
    opacity: 0;

    &.current {
      transform: translateX(0%);
      opacity: 1;
    }

    &.previous {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

.titleCard {
  transition: 0.3s ease-in-out all;
  transition-delay: 0ms;
  opacity: 0;
}

.titleCard {
  border-radius: 50%;
  &.current {
    transition-delay: 500ms;
    border-radius: 0;
    transform: scale(1);
    opacity: 1;

    h1 {
      -webkit-animation: titleBounceIn 800ms linear both;
      animation: titleBounceIn 800ms linear both;
      animation-delay: 500ms;
    }
  }

  &.previous {
    opacity: 0;
    transform: scale(0.5);
    transition-delay: 300ms;
    border-radius: 50%;

    h1 {
      -webkit-animation: titleBounceOut 800ms linear both;
      animation: titleBounceOut 800ms linear both;
    }
  }
}

section {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;

  > .padding-hack {
    padding: 1.875rem 2.5rem;
  }

  p {
    color: #fff;
    opacity: .9;
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin: 0 0 1.2rem;
  }
  a {
    color: #fff;
  }
  cite {
    color: #fff;
    opacity: .6;
    font-size: 1.6rem;
    letter-spacing: -.01rem;
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  h1 {
    font-size: 4.2rem;
    line-height: 5.2rem;
    margin: 0 0 1.5rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
    margin: 0 0 1.5rem;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin: 0 0 1rem;
    padding: 0;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

aside {
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

.flex-container {
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

.alignCenter {
  text-align: center;
}

.clap {

  h1 {
    font-size: 18rem;
    line-height: 18rem;
  }

}

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.countdown {

  section {
    .flex-item-offset {
      top: -90px;
      position: relative;
    }
  }

  .titleCard {
    .countdownTimer {
      display: flex;
    }

    .countdownWelcome {
      display: none;
      overflow: hidden;
    }

    &.welcomeMessage {
      .countdownWelcome {
        display: flex;
      }
      .countdownTimer {
        display: none;
      }
    }
  }
}

.countNumbers {
  display: inline-block;
  width: inherit;
}

.flip-clock-wrapper {
  font-size: 1rem;
  transform: scale(3);
  padding-top: 40px;

  .flip-clock-label {
    color: #fff;
    display: none;
  }

  ul li a div div.inn {
    text-shadow: none;
    color: #eee;
  }

  .flip-clock-dot {
    box-shadow: none;
  }

  .flip {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
}

.articleTitle {
  color: #fff;
  opacity: 1;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0 0 1.5rem;
}

.articleDate {
  color: #fff;
  background: rgba(0, 0, 0, .4);
  padding: .8rem 1.6rem;
  margin: .8rem 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: .1rem;
  display: none;
}

.upcomingEvent {
  margin-bottom:4rem;

  .descriptionDrawer {
    height: 0px;
    overflow:hidden;
  }
}

.events .articleDate,
.upcomingEvents .articleDate {
  display: inline-block;
}

.question {
  font-size: 8rem;
  line-height: 8.8rem;
  text-transform: capitalize;
}

.full-circle {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.dot {
  transition: 0.2s ease-out all;
  transform: scale(1);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  opacity: .6;

  &.dot--full {
    border: 0px solid #fff;
    opacity: 1;
    background-color: #fff;
    transform: scale(1.2);
  }
}

.star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.article-header {
  position: fixed;
  top: 1.875rem;
  left: 2.5rem;
  z-index: 3;
  opacity: 0;
  transition: 0.5s ease-in-out all;

  &.present {
    top: calc(50% - 64px);
    width: 100%;
    text-align: center;
    h3 {
      font-size: 8rem;
    }
  }

  h3 {
    color: #fff;
    font-weight: 600;
    opacity: 1;
    margin: 0 0 1rem;
    padding: 0;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

  &--active {
    opacity: 1;
  }

  div {
    display: inline-block;
  }

  .dots-container {
    padding-left: 1rem;

    &.single {
      div {
        display: none;
      }
    }

    div {
      margin-right: 1rem;
    }
  }
}
