html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
}

article {
  display: none;
  height: 100vh;

  &.current {
    display: flex;
  }
  &.newFaces {
    section {
      background-color: #286FAD;
    }
  }
  &.helps {
    section {
      background-color: #734191;
    }
  }
  &.interestings {
    section {
      background-color: #EF5A5A;
    }
  }
  &.events {
    section {
      background-color: #00AF9F;
    }
  }
  &.interestings.more {
    section {
      background-color: #DC5252;
      text-align: center;
    }
  }
}

.author {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 600;
  color: #fff;
  opacity: .7;
}

section {
  flex: 1;
  overflow-y: scroll;

  > .padding-hack {
    padding: 30px 5%;
  }

  p {
    color: #fff;
    opacity: .9;
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 0 0 1.2rem;
  }
  a {
    color: #fff;
  }
  cite {
    color: #fff;
    opacity: .6;
    font-size: 1.6rem;
    letter-spacing: -.01rem;
    font-style: italic;
  }
  h1, h1 p {
    color: #fff;
    opacity: 1;
    font-size: 5rem;
    line-height: 6rem;
    margin: 0 0 1.5rem;
  }
  h3 {
    color: #fff;
    font-weight: 600;
    opacity: 1;
    margin: 0 0 1rem;
    padding: 0;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

aside {
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.flex-container {
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

.alignCenter {
  text-align: center;
}

.clapInner {
  background: #0f62a8; /* Old browsers */
  background: -moz-linear-gradient(top, #0f62a8 0%, #00a79c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0f62a8 0%, #00a79c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0f62a8 0%, #00a79c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f62a8', endColorstr='#00a79c', GradientType=0); /* IE6-9 */

  h1 {
    font-size: 18rem;
  }

}

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.countdown {
  background: #0f62a8; /* Old browsers */
  background: -moz-linear-gradient(top, #0f62a8 0%, #00a79c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0f62a8 0%, #00a79c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0f62a8 0%, #00a79c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f62a8', endColorstr='#00a79c', GradientType=0); /* IE6-9 */
}

.countdownInner {
  display: none;
  background: #0f62a8; /* Old browsers */
  background: -moz-linear-gradient(top, #0f62a8 0%, #00a79c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0f62a8 0%, #00a79c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0f62a8 0%, #00a79c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f62a8', endColorstr='#00a79c', GradientType=0); /* IE6-9 */

  .flex-item-offset {
    top: -90px;
    position: relative;
  }

}

.countNumbers {
  display: inline-block;
  width: inherit;
}

.flip-clock-wrapper {
  font-size: 1rem;
  transform: scale(3);
  padding-top: 40px;

  .flip-clock-label {
    color: #fff;
    display: none;
  }

  ul li a div div.inn {
    text-shadow: none;
    color: #eee;
  }

  .flip-clock-dot {
    box-shadow: none;
  }

  .flip {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
}

.articleDate {
  color: #fff;
  background: rgba(0,0,0, .4);
  padding: .8rem 1.6rem;
  margin: .8rem 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: .1rem;
  display: none;
}

.events .articleDate {
  display: inline-block;
}

.question {
  font-size: 8rem;
  line-height: 8.8rem;
  text-transform: capitalize;
}

.full-circle {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.empty-circle {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  opacity: .6;
}

.article-header div {
  display: inline-block;
}

.dots-container {
  padding-left: 1rem;

  div {
    margin-right: 1rem;
  }
}
